---
layout: default
title: Publications
description: Yuki Miura's postdoctoral research at Stanford University focused on reverse-engineering human neural circuit development and investigating neuropsychiatric disorders using stem cell-based organoid and assembloid technologies. Key achievements include:

Development of Cortico-Striatal Assembloids:
Created a platform to model the cortico-striatal pathway by fusing cortical and striatal organoids. This approach enabled studies of neuronal connectivity and dysfunction, particularly in neurodevelopmental disorders like Phelan-McDermid syndrome​​.
Thalamocortical Circuit Models:
Established human thalamocortical circuit models to analyze cellular and circuit-level abnormalities caused by pathogenic genetic variants, such as those in the CACNA1G gene associated with epilepsy and schizophrenia​​.
Loop Assembloid Models:
Pioneered a loop-shaped assembloid model simulating the cortico-striatal-thalamic-cortical network. This system was used to study the effects of genetic mutations, such as ASH1L, on neuronal synchronization in autism and Tourette syndrome​​.
Disease Modeling and Functional Analysis:
Utilized advanced tools like optogenetics, calcium imaging, and electrophysiological recordings to dissect neuronal activity in disease conditions. These platforms provided insights into the development of neural circuits and their dysfunctions​​.
Overall, Yuki Miura's postdoctoral work significantly advanced the use of human stem cell-derived models for exploring the formation and pathology of neural circuits, offering new avenues for understanding and treating neuropsychiatric disorders.
page_cover: '/images/100.jpg'
---

<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__projects">
    <div class="row">
      {% for project in site.projects reversed %}
      <article class="project col col-6 col-t-12 animate">
        <div class="project__content">
          <div class="project__info">
            <h3 class="project__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
            {% if project.description %}
            <div class="project__description">{{ project.description }}</div>
            {% endif %}
          </div>
          {% if project.image %}
          <a href="{{ project.url | relative_url }}" class="project__image">
            <img class="lazy" data-src="{{ project.image | relative_url }}" alt="{{ project.title }}">
          </a>
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
  </div>

</div>
<!-- end page -->
