---
layout: default
title: 🚀 Portfolio
description: Mobile development is a dynamic and ever-evolving field, and staying ahead of the curve is essential. These simplified visual representations enable developers to iterate quickly, experiment with different layouts, and validate their ideas before investing time and resources into the actual coding process.
page_cover: '/images/100.jpg'
---

<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__projects">
    <div class="row">
      {% for project in site.projects reversed %}
      <article class="project col col-6 col-t-12 animate">
        <div class="project__content">
          <div class="project__info">
            <h3 class="project__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h3>
            {% if project.description %}
            <div class="project__description">{{ project.description }}</div>
            {% endif %}
          </div>
          {% if project.image %}
          <a href="{{ project.url | relative_url }}" class="project__image">
            <img class="lazy" data-src="{{ project.image | relative_url }}" alt="{{ project.title }}">
          </a>
          {% endif %}
        </div>
      </article>
      {% endfor %}
    </div>
  </div>

</div>
<!-- end page -->