---
layout: default
title: Publications
description: Yuki's postdoctoral research focused on reverse-bioengineering human neural circuit development and investigating neuropsychiatric disorders using stem cell-based organoid and assembloid technologies. Key achievements include the following works.
page_cover: '/images/101.jpg'
---

***

## Headings by default:

# H1 Default styles for headings
## H2 Default styles for headings
### H3 Default styles for headings
#### H4 Default styles for headings
##### H5 Default styles for headings
###### H6 Default styles for headings

***

## Lists

### Ordered list example:

1. Poutine drinking vinegar bitters.
2. Coloring book distillery fanny pack.
3. Venmo biodiesel gentrify enamel pin meditation.
4. Jean shorts shaman listicle pickled portland.
5. Salvia mumblecore brunch iPhone migas.

***

<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__blog">
    <div class="row grid">
    {% if site.posts.size > 0 %}
    {% for post in paginator.posts offset:0 %}
      {% include article.html %}
    {% endfor %}
    {% endif %}
    </div>

    {% include pagination.html %}
  </div>

</div>
<!-- end page -->
