/* Header */
.header {
  padding-top: 32px;
}

/* Nav */
.main-nav {
  position: relative;
  -webkit-mask-image: linear-gradient(to right, var(--text-color) 97%, transparent 100%);
  mask-image: linear-gradient(to right, var(--text-color) 97%, transparent 100%);

  .nav__list {
    display: flex;
    align-items: baseline;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing
    }

    .nav__item {
      margin: 0;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      white-space: nowrap;
    }

    .nav__link {
      display: block;
      padding: 8px;
      margin-right: 12px;
      border-bottom: 2px solid var(--border-color);

      &:hover {
        border-bottom-color: var(--primary-color);
      }

      &.active-link {
        font-weight: 600;
        border-color: var(--primary-color);
      }
    }
  }
}